# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
python-api/service-account.json
python-api/googleads.yaml
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
python-api/service-account.json

# Python GAM Integration
python-api/service-account.json
python-api/googleads.yaml
python-api/__pycache__/
python-api/*.pyc